.answerButton {
  position: relative;
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  background-color: peachpuff;
  border: 3px solid darkblue;
  margin: 0.5rem;
  padding: 0;
  cursor: pointer;
}

/* .answerButton:hover {
  background-color: rgb(238, 136, 118);
  border: 3px solid blue;
} */

.answerButton__label {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  user-select: none;
}